/* Reset some default styles */
body, h1, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #f3f6fa;
  color: #532dda;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #3f7dc4;
}

/* Center the header vertically */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}